<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Person1"  value="Ivan Ivanov"/>
    <add key="Person2"  value="Sidor Sidorov"/>
    <add key="SiteUrl"  value="https://yandex.ru/"/>
  </appSettings>
</configuration>